* {
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow-x: hidden;

}

body, html, section, nav, br, .break {
  background-color: black;
 
  
}

#nav {
  font-size: 200%;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
 
  
 
  

}

#nav ul li link {
  color: #15BDD6;
  
}




