* {
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow-x: hidden;

}

body, html, section, nav, br, .break {
  background-color: black;
 
  
}

#nav {
  font-size: 200%;
  margin: 4px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  
 
}









